<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/RealTimeConsumer" binding="netNamedPipeBinding" contract="MTree.RealTimeProvider.IRealTimeConsumer" name="RealTimeConsumerConfig" bindingConfiguration="BindingConfig" behaviorConfiguration="protoEndpointBehavior" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netNamedPipeBinding>
        <binding name="BindingConfig" closeTimeout="24:00:00" openTimeout="24:00:00" receiveTimeout="24:00:00" sendTimeout="24:00:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
