<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/RealTimePublisher" binding="netNamedPipeBinding" 
                contract="MTree.RealTimeProvider.IRealTimePublisher" name="RealTimePublisherConfig" 
                bindingConfiguration="BindingConfig"/>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netNamedPipeBinding>
        <binding name="BindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" 
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" 
                 transferMode="Buffered" transactionProtocol="OleTransactions" 
                 hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" 
                 maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>
