<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
    <target name="DefaultTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}/MTree.${shortdate}.ALL.log"
              archiveAboveSize="10240000"
              maxArchiveFiles="100"
              layout="[${longdate}/${pad:padding=5:inner=${level:uppercase=true}}/${pad:padding=40:inner=${logger}}/${pad:padding=5:inner=${processid}}/${pad:padding=3:inner=${threadid}}] ${message}" />
    </target>

    <target name="ErrorFileTarget"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/MTree.${shortdate}.ERR.log"
            archiveAboveSize="10240000"
            maxArchiveFiles="100"
            layout="[${longdate}/${pad:padding=5:inner=${level:uppercase=true}}/${pad:padding=40:inner=${logger}}/${pad:padding=5:inner=${processid}}/${pad:padding=3:inner=${threadid}}] ${message}" />

    <target name="ConsoleTarget"
            xsi:type="ColoredConsole"
            layout="[${longdate}/${logger}/${processid}/${threadid}] ${message}" />

    <target name="TrafficMonitorFileTarget"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/MTree.${shortdate}.TrafficMonitor.log"
            layout="[${longdate}/${pad:padding=5:inner=${level:uppercase=true}}/${pad:padding=40:inner=${logger}}/${pad:padding=5:inner=${processid}}/${pad:padding=3:inner=${threadid}}] ${message}" />

    <target xsi:type="NlogViewer" name="ctrl" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="DefaultTarget" />
    <logger name="*" minlevel="Error" writeTo="ErrorFileTarget" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
    <logger name="MTree.Utility.TrafficMonitor" levels="Debug" writeTo="TrafficMonitorFileTarget" />
    
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
  </rules>
</nlog>