<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="KiwoomTrader.KiwoomTrader_">
        <endpoint address="Trader"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="BindingConfig"
                  contract="Trader.IRealTimeTrader" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/KiwoomTrader/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netNamedPipeBinding>
        <binding name="BindingConfig"
                 closeTimeout="24:00:00"
                 openTimeout="24:00:00"
                 receiveTimeout="24:00:00"
                 sendTimeout="24:00:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"  
                 hostNameComparisonMode="StrongWildcard"  
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647"
                 maxConnections="1000"
                 maxReceivedMessageSize="2147483647">
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <diagnostics>
      <messageLogging logEntireMessage="true"
                      logMalformedMessages="true"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true"
                      maxMessagesToLog="100"
                      maxSizeOfMessageToLog="20000"/>
    </diagnostics>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Critical, Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\logs\mtree.svclog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
