<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/MTree.log"
              archiveFileName="${basedir}/Logs/MTree.{#}.log"
              archiveNumbering="DateAndSequence"
              archiveEvery="Day"
              archiveAboveSize="10240000"
              archiveDateFormat="yyyy-MM-dd"
              maxArchiveFiles="10"
              layout="[${longdate}/${pad:padding=5:inner=${level:uppercase=true}}/${pad:padding=40:inner=${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:skipFrames=0}}/${pad:padding=3:inner=${threadid}}] ${message}" />
    </target>
    
    <target xsi:type="Trace"
            name="String"
            layout="[${longdate}/${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true:skipFrames=0}/${threadid}] ${message}" /> />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="String" />
  </rules>
</nlog>