<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLogViewer" />
  </extensions>
  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
    <target name="DefaultTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}/MTree.${shortdate}.ALL.log"
              archiveAboveSize="10240000"
              maxArchiveFiles="2000"
              layout="[${longdate} / ${pad:padding=5:inner=${level:uppercase=true}} / ${pad:padding=40:inner=${callsite:includeNamespace=False}.${callsite-linenumber}} / ${pad:padding=5:inner=${processid}} / ${pad:padding=3:inner=${threadid}}] ${message}" />
    </target>

    <target name="ErrorTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}/MTree.${shortdate}.ERR.log"
              archiveAboveSize="10240000"
              maxArchiveFiles="2000"
              layout="[${longdate} / ${pad:padding=5:inner=${level:uppercase=true}} / ${pad:padding=40:inner=${callsite:includeNamespace=False}.${callsite-linenumber}} / ${pad:padding=5:inner=${processid}} / ${pad:padding=3:inner=${threadid}}] ${message}" />
    </target>

    <target name="TrafficMonitorTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}/MTree.${shortdate}.TrafficMonitor.log"
              layout="[${longdate} / ${pad:padding=5:inner=${level:uppercase=true}} / ${pad:padding=40:inner=${callsite:includeNamespace=False}.${callsite-linenumber}} / ${pad:padding=5:inner=${processid}} / ${pad:padding=3:inner=${threadid}}] ${message}" />
    </target>

    <target name="ConsoleTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="ColoredConsole"
              layout="[${longdate}/${callsite:includeNamespace=False}.${callsite-linenumber}/${processid}/${threadid}] ${message}" />
    </target>
    
    <target xsi:type="NLogViewer" name="ctrl" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="DefaultTarget" />
    <logger name="*" minlevel="Error" writeTo="ErrorTarget" />
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
    <!--<logger name="Utility.TrafficMonitor" levels="Debug" writeTo="TrafficMonitorTarget" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="ctrl" />-->
  </rules>
</nlog>